.banner {
max-width: 70%;
margin-right: 15%;
margin-left: 15%;
}

.title {
    text-align: center;
    font-family: "Lora", Palatino, Georgia, serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: darkslategray;
    line-height: 1.25;
}


@media only screen and (max-width: 500px){
    .title {
        font-size: 1rem;
    }
}

.author {
    font-style: italic;
    font-size: 1.25rem;
    background-color: hsla(200, 60%, 80%, .5);
    display: inline-block;
}

article {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 1%;
    padding-right: .25%;
}

.intro {
    font-size: 1.15rem;
}

.center {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bolder;
    
}

.spoiler {
    font-size: 1.75rem;
    font-weight: bolder;
    font-style: italic;
    color: red;
}

.book_title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.italics {
    font-style: italic;
}