body {
  background-image: url("../resources/images/patterned-background.png");
}

.landing-page-link{
  font-family: "Source Sans Pro", sans-serif;
  font-size: .75rem;
  margin-left: 1rem;
}

h1 {
  font-family: "Lora", Palatino, Georgia, serif;
  text-align: center;
  font-size: 4vw;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 7vw;
  }
}

h2 {
  font-family: "Lora", Palatino, Georgia, serif;
}

.about-me-p {
  font-family: "Source Sans Pro", sans-serif;
  font-style: italic;
}

.about-me-modal{
  max-width: 60vw;
  font-family: "Source Sans Pro", sans-serif;
}

@media only screen and (max-width: 700px) {
  .about-me-modal {
    max-width: 85vw;
    font-size: 0.8rem;
  }
}

.about-me-modal::backdrop {
  background-image: linear-gradient(
    to bottom right,
    rgb(75, 143, 212),
    rgb(205, 205, 50)
  );
  opacity: 0.4;
}

.about-me-button{
  border: none;
  background-color: transparent;
  color: blue;
  text-decoration: underline;
  padding: 0;
}

.about-me-button:hover {
  background-color: cadetblue;
  color: beige;
  cursor: pointer;
}

article, .project {
  margin: 0% 3%;
}

.coding-language-box {
  border-style: solid;
  border-radius: 15px;
  border-color: hsl(279, 46%, 33%);
  background-color: hsl(0, 0%, 15%);
  text-align: center;
  width: fit-content;
  margin: 0% auto;
  padding-left: 4rem;
  padding-right: 4rem;
}

.coding-h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}


.coding-icons {
  font-size: 1.35rem;
}

@media only screen and (max-width: 600px) {
  .coding-h2 {
    font-size: 1.35rem;
  }
  
  .coding-icons {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  .coding-h2 {
    font-size: 1.15rem;
  }
  
  .coding-icons {
    font-size: 0.7rem;
  }
}

.coding-p {
  display: inline-block;
  margin: 0.25rem;
  font-family: "Times New Roman", Times, serif;
}

.coding-p,
.coding-h2 {
  color: hsl(41, 60%, 96%);
}

#html-icon {
  color: hsl(30, 100%, 50%);
}

#css-icon {
  color: hsl(210, 100%, 50%);
}

#javascript-icon {
  color: hsl(60, 100%, 50%);
}

#github-icon {
  color: hsl(0, 0%, 100%);
}

#vscode-icon {
  max-width: 2.5vw;
}

#wordpress-icon {
  color: hsl(195, 48%, 54%);
}

#react-icon {
  color: hsl(195, 91%, 69%);
}

.project-blocks {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-link {
  background-color: hsla(130, 100%, 66%, 0.167);
  display: inline-flex;
  flex-flow: column;
  border-style: solid;
  border-color: hsl(279, 46%, 33%);
  margin: 2% 1%;
}

.project-pics {
  max-width: 100%;
}

.link-description {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

.modal-box {
  max-width: 60vw;
  font-family: "Source Sans Pro", sans-serif;
}

@media only screen and (max-width: 700px) {
  .modal-box {
    max-width: 85vw;
    font-size: 0.8rem;
  }
}

.modal-button {
  width: fit-content;
  font-family: "Source Sans Pro", sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  background-color: hsl(130, 84%, 83%);
  color: hsl(279, 46%, 33%);
}

.modal-button:hover {
  background-color: cadetblue;
  color: beige;
}

.modal-box::backdrop {
  background-image: linear-gradient(
    to bottom right,
    rgb(75, 143, 212),
    rgb(205, 205, 50)
  );
  opacity: 0.4;
}

.modal-box p, .skills {
  text-decoration: underline;
  font-weight: bold;
}

.modal-x {
  border: none;
  background-color: white;
  color: rgb(173, 3, 3);
  float: right;
  font-size: 1.5rem;
}
