/*Banner*/
h1{
  text-align: center;
  color: white;
  background-image: url(../resources/images/woodspath3.jpeg);
  background-repeat: no-repeat; 
  background-color: white;
  background-position: center;
  background-size: cover;
  font-family: "Lora", Palatino, Georgia, serif;
  font-size: 3em;
  padding: 6%;
  
}

h1:hover {
  animation: switch 3s linear infinite alternate-reverse;
}

@keyframes switch {
    0%{
        background-image: url(../resources/images/woodspath2.jpeg);
    }
    33%{
        background-image: url(../resources/images/woodspath3.jpeg);
    }
    66%{
        background-image: url(../resources/images/woodspath4.jpeg);
    }
    100%{
        background-image: url(../resources/images/woodspath5.jpeg);
    }
}

h1 span {
  display: inline-block;
  animation: move 3s ease-in-out infinite alternate-reverse;
  }
  
  @keyframes move {
    0% {
      transform: translate(-30%, 0);
    }
    50% {
      text-shadow: 0 25px 50px hsla(279, 46%, 33%, 1);
    }
    100% {
      transform: translate(30%, 0);
    }
  }
  
  @media only screen and (max-width: 1000px){
    h1{
      font-size: 2.5rem;
    }
  }

  @media only screen and (max-width: 800px){
    h1{
      font-size: 1.5rem;
    }
  }

  @media only screen and (max-width: 500px){
    h1{
      font-size: 1rem;
    }
  }

  @media only screen and (max-width: 300px){
    h1{
      font-size: .7rem;
    }
  }


/*Mission Statement*/

.mission-statement{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  }

/*Blog*/

#blog{
  text-align: center;
  color: white;
  background-color: black;
}

.blog-post{
  display: grid;
  grid-template: auto auto auto/ auto auto auto;
}

.blog-box:hover{
  background-color: lightsteelblue;
  color: white;
}

.blog-link{
  text-align: center;
}

.blog-banner{
  max-width: 55%;
}

@media only screen and (max-width: 800px){
  .blog-banner{
    max-width: 70%;
  }
}

/*Published Books*/

#products{
  text-align: center;
  color: white;
  background-color: black;
  }
  
.books{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: lightsteelblue;
  }
  
.book-link{
  display: contents;
  }

.book-pic{
  max-width: 20%;
  margin: 1%;
}

/*Blurbs and Reviews*/
.book-sample{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#blurbs-reviews{
  text-align: center;
  color: white;
  background-color: black;
}

.book-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: darkslategray;
  background-color: lightsteelblue;
}

article{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.left-column{
  display: inline-block;
  max-width: 45%;
  background-color: #C5DCFA;
}

.blurb{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-style: italic;
  background-color: gainsboro;
  margin: 0% 1%;
}

.book-blurb{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0.5% 1%;
}

.right-column{
  display: inline-block;
  max-width: 45%;
  background-color: #C5DCFA;
}

.book-review{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-style: italic;
  background-color: gainsboro;
  margin: 0% 1%;
}

.review{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0.5% 1%;
}

.reviewer{
  text-decoration: underline;
}

.star{
  color: goldenrod;
}

.end{
  background-color: black;
}

@media only screen and (max-width: 600px){
  article{
    display: block;
  }

  .left-column{
    display: block;
    max-width: 100%;
    margin-bottom: 3vw;
  }

  .right-column{
    display: block;
    max-width: 100%;
  }
}

/*Contact and Interview Links*/
footer{
  text-align: center;
}