.banner {
max-width: 70%;
margin-right: 15%;
margin-left: 15%;
}

.title {
    text-align: center;
    font-family: "Lora", Palatino, Georgia, serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: darkslategray;
    line-height: 1.25;
}

.subtitle {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 500px){
    .title {
        font-size: 1rem;
    }

    .subtitle {
        font-size: .75rem;
    }
}

.author {
    font-style: italic;
    font-size: 1.25rem;
    background-color: hsla(200, 60%, 80%, .5);
    display: inline-block;
    margin-left: 1.5%;
}

article {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 3%;
    margin-right: 3%;
}

footer {
    text-align: center;
    font-size: 0.6rem;
}
